@import "variables";
#navBar
{
    transition: 0.1s !important;
}
#navBarScroll
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
    transition: 0.3s !important;


}
.navbar-brand img
{
    width: 100%;
    position: relative;
    left: 50%;
}
.navbar-toggler-icon 
{
    color: $mainColor;
    font: {
        family: $fontJose
    };
}
.navbar-collapse ul
{
    margin-right: 100px;
}
.nav-item
{
    margin-right: 48px;

}
.nav-link
{
    font: {
        size: 18px;
        family: $fontJose;
        weight: 700;
    };
    color: #091a23 !important;

    &:hover
    {
        color: $mainColor !important;
    }
}
.active a
{
    color: $mainColor !important;
}

.form-search
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $mainColor;
    left:90%;
    cursor: pointer;
}
.form-inline .form-control
{
    box-shadow: 0 0 0 0.2rem $mainColor;
}

@media screen and (max-width: 	1850px) {
    .navbar-brand img
    {
        left: 25%;
    }
}
@media screen and (max-width: 	1500px) {
    .navbar-brand img
    {
        left: 0%;
    }
}
@media screen and (max-width: 1199px) {
    .navbar
    {
        padding: 20px !important;
    }
}
/* navbar style while scroll */
