/* ------------------------- loading screen  ------------------------- */
body
{
    overflow: hidden;
}
#loading
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .sk-cube-grid {
        width: 75px;
        height: 75px;
        margin-bottom: 100px;
      }
      
      .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: $mainColor;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
      }
      .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      
      @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); 
        }
      }
      
      @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1);
        } 
      }
}
/* ------------------------- loading screen  ------------------------- */

/* ------------------------- Main style of every section titles ------------------------- */
.section
{
    margin-bottom: 100px;
}
/* ------------------------- Main style of every section titles ------------------------- */

/* ------------------------- Main titles of every section titles ------------------------- */
.section-titles
{
    margin-bottom: 48px;
    padding-top: 30px;
}
.section-span
{
    color: #3ba0ff;
    font: {
        size: 16px;
        weight: 500;
        family: $fontJose
    }

}
.section-title
{
    color: #030431;
    font: {
        size: 50px;
        weight: 600;
        family: $fontSen;
    };
    margin: 16px 0 25px;
    line-height: 1.3;
}


/* ------------------------- Main titles of every section titles ------------------------- */

/* ------------------------- HTML Scroll behavior ------------------------- */
html , body
{
    scroll-behavior: smooth;
}
/* ------------------------- HTML Scorll behavior ------------------------- */


/* ------------------------- Main Bottons for every seciton -------------------------*/
.main-btn
{
    width: 175px;
    height: 60px;
    color: white;
    text-decoration: none;
    font: {
        size: 18px;
        weight: 400;
        family: $fontRoboto;
    };
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: 0.2s ease-out;
    box-shadow: inset 0 0 0 0 #007bff;

    &:hover
    {
        color: white;
        text-decoration: none;
        box-shadow: inset 175px 0 0 0 #007bff;
        cursor: pointer;

    }
}
/* ------------------------- Main Bottons for every seciton -------------------------*/

/* ------------------------- scroll to top Button -------------------------*/
#scrollTopBtn
{
    width: 60px;
    height: 60px;
    background-color: $mainColor;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 5%;
    cursor: pointer;
    opacity: 0.5;
    &:hover
    {
        transition: 0.2s;
        opacity: 1;

    }
}
/* ------------------------- scroll to top Button -------------------------*/

